@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:800|Source+Sans+Pro:300,300i,600,600i");
 
/* CSS RESET Begins */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
   /* border: 0.5px dotted grey; */
    font-size: 62.5%;
    font: inherit;
    letter-spacing:1px;
    vertical-align: baseline;
    font-family:'Roboto Mono',serif;
 }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.5;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS RESET section ENDS */

/* every element is a border-box */
* {
  box-sizing: border-box;
}

/* start your css here */

body {
  /* font-family: 'Source Sans Pro', sans-serif;	 */
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size:62.5%;
  text-align:center;
  max-width:100%;
  margin:0 auto;
}

/* h1{
    font-size:3rem;
    font-style: italic;
    font-weight: 500;
    color: black;
    padding:0.5%;
    text-align: left; 
 } */
 
 h1{
   display:block;
   padding-bottom: 0%;
   font-size: 2rem;
   font-style: oblique;
   color:black; 
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   margin-block-start:.1em;
   margin-block-end: .1em;
   text-align: center;
   background-color: snow;
}
 h2{
    font-size:1.8rem;
    font-weight: 500;
    color:#3DC5AD; 
    padding:1%;
    text-align: left;
    font-style: initial;
 }
 /*Welcome to reach in Banner */
 /*h3{
    position:absolute;
    z-index: 999;
    margin: 0 auto;
    left:21%;
    top: 10%; /* Adjust this value to move the positioned div up and down */
    /*width: 60%; /* Set the width of the positioned div */
    /*font-size:2.2rem;
    font-weight: 500;
    font-style: oblique;
    color:black;
    padding:1.5%;
    text-align: center;
 }*/

 
 h4{
    font-size:1.5rem;
    font-style: italic;
    font-weight: 500;
    color:#3DC5AD;
    padding:0.5%;
    text-align: left;
    line-height: 0px;
 }
 
.welcome{
   background-color: snow;
}
 .navbar {
   background-color: snow;
   display: flex;
   padding: 1.6%;
   color: black;
   font-size: 1.2rem;
   font-family: "Raleway", Helvetica, sans-serif;
   font-weight:500;
 }
  
.NavbarLink-brand{
   color:#74CBC1;
   font-size: 1.8rem;  
   font-weight:bold;
}

.NavbarLink-brand:hover {
   background-color:white;
   color:#74CBC1;
   border-bottom: none;
}
 
a::before {
   color:black;
   text-decoration: none;
}
 a:link, a:visited {
   color:#74CBC1;
   text-decoration: none;
}
  
 a:hover {
   background-color: snow;
   cursor: pointer;
   font-weight: bold;
   border-bottom: 0.15rem solid #74CBC1;
 }


 .NavbarLink {
   padding-right:1.4rem;
   padding-left: 1.4rem;
 }
 
 .NavbarItems {
   display: flex;
   padding-right: 2%;
   padding-top: 0.5%;
   padding-left: 1%;
 }
 
 .NavbarItemsright {
   margin-left:auto;
 }
 /* Hide toggle icon for desktop view */
 .NavbarLink-toggle {
   display: none;
 }
 
 .logincontainer{
    display:flex;
    flex-wrap: wrap;
 }
  banner{ 
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0% 0%;
    width:100%;
  }
  
 banner img{
    /* display:block; */
    padding-top: 0% 0%;
    width: 100%;
    opacity: 90%;
    object-fit:cover;
    height: 35rem;
 }
banner p{
    position:absolute;
    z-index: 999;
    margin: 0 auto;
    left:18%;
    top: 32%; /* Adjust this value to move the positioned div up and down */
    width: 65%; /* Set the width of the positioned div */
    font-size:1.4rem;
    font-weight: 500;
    font-style: normal;
    color:black;
    text-align:center;
}
.startcontainer {
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 1.2rem;
}
  .midcontainer{
    max-width:95%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    align-content:center;
    flex-wrap: wrap;
    margin:0 auto;
  }
 
  .midcontainer2{
     flex-direction: row-reverse;
     flex-wrap: wrap;
  }
  
  .midcontainer4{
   flex-direction: row-reverse;
   flex-wrap: wrap;
}
   .midcontainer p{
      font-size:1.2rem;
      font-style: normal;
      font-weight: 300;
      color: black;
      padding:0.5%;
      text-align: left; 
}
  .midcontainer img{
   width:65%;
   height:20rem;
   object-fit: contain;
   
  }
  .midcontainer div{
    margin:1rem;
    align-items: center;
    width:45%;
    padding-left:0%;
    padding-right:0rem;
    padding-top:2%;
  }
  .learn{
    margin-top:5%;
    transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out;
		border-radius: 4px;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-family: "Raleway", Helvetica, sans-serif;
		font-weight: 600;
		font-size: 1rem;
		height: 2.8rem;
		line-height: 3rem;
		padding: 0 2rem;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
		text-transform: uppercase;
      letter-spacing: 0.025rem;
      background-color: #74CBC1;
      color:white;
  }
  .learn:hover {
   background-color: #36b39d;
   color: #ffffff !important;
   transition: 0.25s;
}

.end {
   /* margin-top: 1rem;*/
    width: 100%;
   /* border-bottom: cyan; */
   height: 0.1rem; 
   border-radius: 2px;
   background-color: #3dc5ad;
   content: ''; 
   display: flex;
   flex-wrap: wrap;
   justify-content:center;
   align-items: center;
}
 
  footer{
    margin-top: 2rem;
    background-color: lightgray;
   }
/*Hide brand footer */
 footer .NavbarLink-brand {
   display: none;
 }
 footer .navbar{
   background-color: lightgray;
   justify-content:space-evenly;
   align-items:center;
 }
 footer .NavbarLink {
  margin:0%;
   padding-right:6rem;
   padding-left: 6rem;
 }
 
 footer .NavbarItemsright {
   margin-left:0%;
 }
 footer a:link, a:visited {
      color:black;
      padding-left: 1px;
      text-decoration: none;
   }
   
   footer  a:hover {
      background-color: lightgray;
      color:#36b39d;
      border-bottom: none;
      transition: .3s;
    }
   
   
   footer h4{
      text-align: center;
      margin-bottom: 0.5rem;
      padding-top: 2.5%;
      /* padding-bottom: 1%;  */
      font-size:1.5rem;
      line-height: 0.2rem;
      font-style: italic;
         /* My animation */
     animation-name:myanim;
     animation-duration:3s;
     animation-timing-function:ease-in-out;
     animation-delay:1s; /*wait before start of animation */
     animation-iteration-count:infinite; /* name,duration, timing function,delay,count */
   }
   /* keyframes rule to specify animation code */
   @keyframes myanim{
     0%{
     color:  grey;
     transform: skewY(0.5deg);}
     40%{ 
     color:snow;
     transform: skewY(0.5deg);}  
     70%,75%{
      color:#74CBC1;
      transform: skewY(2deg);
     }
      80%,90%,95%{
       color: lightgrey;
       transform: skewY(1deg);
     }
     100%{
       color:#74CBC1;
       transform: skewY(0deg);
     }
   }
   

  .fimgcontainer{
     display:flex;
     justify-content: center;
  }
  footer img{
      /* background-color: lightgray; */
      height:20rem;
      /* padding:2%; */
      object-fit: contain;
  }
   /* social icons in footer */
.footersocialicons a{
    text-decoration: none;
    color: snow;
    width: 8rem;
 }
 
 .footersocialicons a:hover{
   border-bottom: 0.1rem solid lightgray;
   
 }
 .footersocialicons ul {
    padding:3.5%;
    padding-top: 0.8%;
    list-style: none;
    display:flex;
    justify-content: space-evenly;
 }
 
 .socialicons{
   margin:0% 0% 0% 4%;
   font-size: 1.2rem;
 } 
  
 .fa-facebook {
    padding:15% 15%; 
    border-radius: 45%;
    transition: .3s;
    background-color:#74CBC1;
 }
 .fa-facebook:hover {
    background-color: #3d5b99;
    color: white;
    line-height: 1.3rem;
 }
 .fa-twitter {
    padding:15% 15%;
    border-radius: 45%;
    transition: .3s;
    background-color:#74CBC1;
 }
 .fa-twitter:hover {
    background-color: #00aced;
    color: white;
    line-height: 1.3rem;
 }
  
 .fa-youtube {
    padding:15% 15%;
    border-radius: 45%;
    transition: .3s;
    background-color:#74CBC1;
 }
 .fa-youtube:hover {
    background-color: #e64a41;
    color: white;
    line-height: 1.3rem;
 }
 .fa-linkedin {
    padding:15% 15%;
    border-radius: 45%;
    transition: .3s;
    background-color:#74CBC1;
 }
 .fa-linkedin:hover {
    background-color: #0073a4;
    color: white;
    line-height: 1.3rem;
 }
 .fa-github {
    padding:15% 15%;
    border-radius: 45%;
    transition: .3s;
    background-color:#74CBC1;
 }
 .fa-github:hover {
    background-color: #5a32a3;
    color: white;
    line-height: 1.3rem;
 }
 
 /* for mobile - with Media Pixel of up to 500px display column*/
@media only screen and (max-width: 500px){
 header{
    margin-top: 1rem;
    background-color: snow;
 }  
.NavbarItems,
 .navbar {
     flex-direction: column;
     align-items: flex-start;
     padding-bottom: 0.1rem;
     font-size: 1rem;
   }
   .NavbarItems{
      padding-top: 0.1rem;
      align-self:flex-end;
      justify-content:space-evenly;
   }
 /* Make Navbar Items not Visible on mobile*/    
 .NavbarItems {
     display:none;
   }

   footer .NavbarItems{
      display:flex; 
      flex-direction: column; 
      align-items: center;
   }
 .NavbarItemsright {
     margin-left:0;
     align-items: flex-end;
     padding:0%;
   }
   
 .NavbarToggleShow {
     display: flex;  
   }
 /* For mobile view display the toggle at the line end */    
 .NavbarLink-toggle {
     align-self: flex-end;
 /*     display: initial; */
     display:flex;
     position: absolute; /*is positioned relative to the nearest positioned ancestor*/
     cursor: pointer;
     padding-left: 0%;
     /* padding-bottom: 1%; */
    } 
           
    a:hover {
      background-color: snow;
      cursor: pointer;
      color:#74CBC1; 
      border-bottom: 0.1rem solid transparent
    }
    h2{
      font-size:1.4rem;
      padding:1%;
      text-align: center;
   }
   h1{
      font-size:1.4rem;
      padding:0%;
      text-align: center;
   }

   .footersocialicons h4{
     font-size: 1rem;
  }
 
 banner img{
    height: 15rem;
 }
banner p{
   text-align: center;
   padding:1%;
    left:11%; 
    top: 30%; /* Adjust this value to move the positioned div up and down */
    width: 85%; /* Set the width of the positioned div */
    font-size:1.1rem;
    font-weight: 300; 
    display: none;
}

.midcontainer{
   flex-direction: column;   
 }

 .midcontainer p{
   text-align: left; 
   font-size: 1.2rem;
}
.midcontainer img{
width:85%;
height:15rem; 
}
.midcontainer div{
  width:80%;
}
 .mlogin{
   position:absolute;
   z-index: 999;
   margin: 0 auto;
   left:38%;
   top: 10%; /* Adjust this value to move the positioned div up and down */
   width: 26%; /* Set the width of the positioned div */
    text-align: center; 
}  
.learn{
     font-size: 0.8rem;
     height: 2.8rem;
     line-height: 2rem;
     padding: 0 1rem;
}
 /* Hide toggle icon for footer view */
 footer .NavbarLink-toggle {
   display: none;
 }
 footer img{
   height:12rem;
 }
 
 .footersocialicons a{
   width: 4.2rem;
}
}


/************** FOR 800 PX TAB**********************/
@media only screen and (min-width:501px) and (max-width:810px) 
{

   header{
      margin-top: 1rem;
   }  
  .NavbarItems,
   .navbar {
       flex-direction: column;
       align-items: flex-start;
       /* padding-bottom: 0.5rem; */
       font-size: 1.2rem;
     }
   /* Make Navbar Items not Visible on mobile*/    
   .NavbarItems {
       display:none;
     }
  
     footer .NavbarItems{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
     }
   .NavbarItemsright {
       margin-left:0;
     }
      
   .NavbarToggleShow {
       display: flex;   
     }
   /* For mobile view display the toggle at the line end */    
   .NavbarLink-toggle {
       align-self: flex-end;
   /*     display: initial; */
       display:flex;
       position: absolute; /*is positioned relative to the nearest positioned ancestor*/
       cursor: pointer;
       padding-left: 0%;
       /* padding-bottom: 1%; */
      } 
             
      a:hover {
        background-color: snow;
        cursor: pointer;
        color:#74CBC1;
        border-bottom: 0.1rem solid snow;
      }
      h2{
         font-size:1.6rem;
         padding:1%;
         text-align: center;
      }
     
   banner img{
      height: 30rem;
   }
  
  banner p{
    display:none;
  }
  
  .midcontainer{
     flex-direction: column; 
   }
  
   .midcontainer p{
     text-align: left; 
     font-size: 1.2rem;
  }
  .midcontainer img{
  width:70%;
  height:12rem; 
  }
  .midcontainer div{
    width:80%;
  }
  .learn{
       font-size: 0.8rem;
       height: 2.2rem;
       line-height: 1rem;
       padding: 0 0.4rem;
  }
   /* Hide toggle icon for footer view */
   footer .NavbarLink-toggle {
     display: none;
   
 }
 footer img{
   height:15rem;
 }
 .footersocialicons a{
   width: 5rem;
}

}
/************** FOR small phone devices**********************/
@media only screen and (min-width:250px) and (max-width:350px) 
{
   h1{
      color:darkcyan;
   }
banner img{
   display: none;
}
.socialicons {
   flex-direction: column;
   align-items: center;
}
}